<section [@routerTransition]>
<div class="row" id="roleForm">
  <div class="col-sm-12 col-md-8">
    <div class="card card-accent-primary">
      <div class="card-header">
        <strong>Role Form</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="RoleForm" class="form-horizontal" (keydown.enter)="onSubmitForm()">
          <mat-form-field>
            <input id="roleFormName" matInput type="text" formControlName="Name" placeholder="Role Name" required>
          </mat-form-field>
          <mat-form-field>
            <textarea id="roleFormDescription" matInput rows="5" placeholder="Role Description" formControlName="Description" required></textarea>
          </mat-form-field>
        </form>
      </div>
      <div class="card-footer text-right">
        <button id="roleFormReset" type="reset" *ngIf="!showSpinner" mat-raised-button color="accent" (click)="reset()" [disabled]="roleID != -1"><i class="fa fa-ban">&nbsp;</i>Reset</button>&nbsp;
        <button id="roleFormCancel" type="button" *ngIf="!showSpinner" mat-raised-button color="warn" (click)="cancel()">Cancel</button>&nbsp;
        <button id="roleFormSubmit" type="submit" *ngIf="!showSpinner" mat-raised-button color="primary" (click)="onSubmitForm()" [disabled]="RoleForm.invalid"><i class="fa fa-dot-circle-o">&nbsp;</i>Submit</button>
        <mat-progress-spinner *ngIf="showSpinner"
                              [diameter]="30"
                              class="example-margin"
                              color="primary"
                              mode='indeterminate'
                              value="5">
        </mat-progress-spinner>
      </div>
    </div>
  </div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>
</section>
