<div class="col-md-12 mb-3 mb-xl-0 text-right" id="task-createNewButton">
  <button mat-raised-button color="primary" (click)="addNew(-1)"><i class="fa fa-plus">&nbsp;</i>Create New</button>
</div>
<mat-progress-spinner *ngIf="showSpinner"
                      [diameter]="30"
                      class="list-spinner"
                      color="primary"
                      mode='indeterminate'
                      value="5">
</mat-progress-spinner>
<h3 mat-subheader class="text-center">Task List</h3>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Data">
</mat-form-field>

<div class="table-RootTask example-container mat-elevation-z8" id="taskTable">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <div class="example-table-container">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="">

      <!-- ID Column -->
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row._id}} </td>
      </ng-container> <!-- ID Column -->

      <ng-container matColumnDef="Symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 40px !important;">  </th>
        <td mat-cell *matCellDef="let row"><b> <i (click)="expandedElement = expandedElement === row ? null : row" class="material-icons" style="margin-top: 5px; cursor: pointer;">
        {{row.SubTask.length > 0 ? row == expandedElement ? 'indeterminate_check_box' : 'add_box' : ''}}</i></b> </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let row"> {{row.Description}} </td>
      </ng-container>

      <!-- Days Column -->
      <ng-container matColumnDef="Days">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width: 105px;"> Days (In Days) </th>
        <td mat-cell *matCellDef="let row"> {{row.Days ? row.Days : "------"}} </td>
      </ng-container>

      <!-- Cost Column -->
      <ng-container matColumnDef="Cost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width: 80px;"> Cost <!--(&#8377;)--> </th>
        <td mat-cell *matCellDef="let row" style="text-align: right;padding-right: 10px;"> {{row.Cost ? (row.Cost | currency:"&#8377;") : "------"}} </td>
      </ng-container>

      <!-- DepartmentName Column -->
      <ng-container matColumnDef="DepartmentName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width: 135px;"> Department Name </th>
        <td mat-cell *matCellDef="let row"> {{ row.DepartmentID ? row.DepartmentID.Name : '' }} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="Action">
        <th id="task-actionButton" mat-header-cell *matHeaderCellDef style="width: 130px;text-align: center;">Action</th>
        <td mat-cell *matCellDef="let row; let i = dataIndex;">
          <a id="View{{i}}" class="text-black taskView" (click)="view(row._id)" style="cursor:pointer;"><i class="material-icons">visibility</i></a>&nbsp;
          <a id="edit{{i}}" class="text-primary taskEdit" (click)="editExisting(row._id)" style="cursor:pointer;"><i class="material-icons">edit</i></a>&nbsp;
          <a id="delete{{i}}" class="text-danger taskDelete" (click)="deleteExisting(row._id)" style="cursor:pointer;"><i class="material-icons">delete_forever</i></a>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns-->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell id="viewSubTask" *matCellDef="let row" [attr.colspan]="displayedColumns.length" >
          <div class="example-element-detail"
               [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'"  *ngIf="row.SubTask.length > 0">
            <table class="table table-bordered table-hover ChildTaskList">
              <thead style="">
              <th>Task Name</th>
              <th>Description</th>
              <th>Duration (In Days)</th>
              <th>Cost</th>
              <th>Department</th>
              <th class="task-subTaskActionButton">Action</th>
              </thead>
              <tbody>
              <tr *ngFor="let st of row.SubTask; let i= index;">
                <td>{{st.Name}}</td>
                <td>{{st.Description}}</td>
                <td>{{st.Days}}</td>
                <td>{{(st.Cost | currency:"&#8377;")}}</td>
                <td>{{ st.DepartmentID ? st.DepartmentID.Name : '' }}</td>
                <td class="task-subTaskActionButton">
                  <a class="text-black" (click)="view(st._id)" style="cursor:pointer;"><i class="material-icons">visibility</i></a>&nbsp;
                  <a class="text-primary" (click)="editExisting(st._id)" style="cursor:pointer;"><i class="material-icons">edit</i></a>&nbsp;
                  <a class="text-danger" (click)="deleteExisting(st._id)" style="cursor:pointer;"><i class="material-icons">delete_forever</i></a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"  class="example-element-row "
          [class.example-expanded-row]="expandedElement === row"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" ></tr><!--{{row.SubTask.length > 0 ? 'expandCellME' : ''}}-->
    </table>
  </div>
  <div *ngIf="dataSource && dataSource.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
  <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
</div>

<ng4-loading-spinner [threshold]="100" [timeout]="60000" [loadingText]="'Please wait...'" [zIndex]="9999"></ng4-loading-spinner>
