<div class="animated fadeIn" id="dashboard" *ngIf="true">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="row" style="border: 1px solid #e7e7e7;padding-top: 10px;margin: 0px 0 8px;">
                <div class="col-sm-2 col-lg-2">
                    <mat-form-field style="width:100%">
                        <input matInput [matDatepicker]="picker3" [(ngModel)]="FromDate" placeholder="From">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm-2 col-lg-2">
                    <mat-form-field style="width:100%">
                        <input matInput [matDatepicker]="picker4" [(ngModel)]="ToDate" placeholder="To">
                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm-2 col-lg-2">
                    <mat-form-field>
                        <input matInput [(ngModel)]="Session" placeholder="Session">
                    </mat-form-field>
                </div>
                <div class="col-sm-2 col-lg-2">
                    <mat-form-field>
                        <input matInput [(ngModel)]="StudyInitials" placeholder="Study ID">
                    </mat-form-field>
                </div>
                <div class="col-sm-2 col-lg-2">
                    <mat-form-field class="ml-2">
                        <input matInput [(ngModel)]="StudyID" placeholder="Study Initials">
                    </mat-form-field>
                </div>
                <div class="col-sm-2 col-lg-2 pt-2 text-center">
                    <button class="btn btn-success" (click)="filter()">Filter</button>&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-success" (click)="getAllDashboardEvents()">Reset</button>&nbsp;&nbsp;

                </div>
            </div>
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <div class="table-entry example-container mat-elevation-z8" id="deo_entrylist" style="min-width: 100%" [class.isMobile]="isMobile">
                        <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached" style="min-width: 100%" [class.isMobile]="isMobile">
                            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                            <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                                API rate limit has been reached. It will be reset in one minute.
                            </div>
                        </div>

                        <div class="example-table-container mat-elevation-z8">
                            <mat-table #table [dataSource]="dataSource" [class.isMobile]="isMobile">

                                <!--- Note that these columns can be defined in any order.
                                    The actual rendered columns are set as a property on the row definition" -->

                                <!-- Position Column -->
                                <ng-container matColumnDef="_id">
                                    <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <span class="mobile-label">ID:</span> {{element._id}}
                                    </mat-cell>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="Session">
                                    <mat-header-cell *matHeaderCellDef> Session </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Session:</span> {{element._id.Session}}
                                    </mat-cell>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="StudyID">
                                    <mat-header-cell *matHeaderCellDef> StudyID </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <span class="mobile-label">StudyID:</span> {{element._id.StudyID}}
                                    </mat-cell>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="StudyInitials">
                                    <mat-header-cell *matHeaderCellDef> StudyInitials </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <span class="mobile-label">StudyInitials:</span> {{element._id.StudyInitials}}
                                    </mat-cell>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="Time">
                                    <mat-header-cell *matHeaderCellDef> Time Spent </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <span class="mobile-label"> Time Spent :</span> {{element.Time}}
                                    </mat-cell>
                                </ng-container>


                                <!-- Symbol Column -->
                                <ng-container matColumnDef="Event">
                                    <mat-header-cell *matHeaderCellDef> Event </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Event:</span> {{element._id.Event}}
                                    </mat-cell>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="DateTime">
                                    <mat-header-cell *matHeaderCellDef> Date & Time Log </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Date & Time of Log :</span> {{ element._id.day | date: 'medium':'+0130'}} (EST)
                                    </mat-cell>
                                </ng-container>


                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                        </div>


                        <div *ngIf="dataSource && dataSource.data.length == 0" class="text-center pt-4 pb-4">No record found.</div>
                        <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
                    </div>
                    <br>
                    <button mat-raised-button color="accent" (click)="exportToExcel()">Export to CSV</button>
                </div>
            </div>
        </div>
        <!--/.col-->

    </div>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="60000" [loadingText]="'Please wait...'" [zIndex]="9999"></ng4-loading-spinner>
