
<div class="row" id="departmentForm">
  <div class="col-sm-12 col-md-12">
    <div class="card card-accent-primary">
      <div class="card-header">
        <strong>Department Form</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="DepartmentForm" class="form-horizontal" (keydown.enter)="create()">
          <mat-form-field>
            <input matInput type="text" formControlName="Name" placeholder="Department Name" required>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput rows="5" placeholder="Department Description" formControlName="Description" required></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Branch" formControlName="BranchID" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let item of allBranches" [value]="item._id">
                {{item.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
      <div class="card-footer text-right"  id="departmentFormActionButton">

        <button type="submit"  mat-raised-button color="primary" (click)="create()" [disabled]="DepartmentForm.invalid"><i class="fa fa-dot-circle-o">&nbsp;</i>Submit</button>
      </div>
    </div>
  </div>
</div>

