<section [@routerTransition]>
<div class="row" id="UserForm">
  <div class="col-sm-12 col-md-8">
    <div class="card card-accent-primary">
      <div class="card-header">
        <strong>User Form</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="UserForm" class="form-horizontal" (keydown.enter)="onSubmitForm()">
          <mat-form-field>
            <input id="UserFormUserName" matInput type="text" formControlName="UserName" placeholder="User Name" required>
          </mat-form-field>
          <mat-form-field>
            <input id="UserFormPassword" matInput type="password" formControlName="Password" placeholder="Password" required>
          </mat-form-field>
          <mat-form-field>
            <input id="UserFormName" matInput type="text" formControlName="Name" placeholder="Name" required>
          </mat-form-field>
          <mat-form-field>
            <input id="UserFormFatherName" matInput type="text" formControlName="FatherName" placeholder="Father Name" required>
          </mat-form-field>
          <mat-form-field>
            <input id="UserFormMothername" matInput type="text" formControlName="Mothername" placeholder="Mother Name" required>
          </mat-form-field>
          <mat-form-field>
            <input id="UserFormDOB" matInput [matDatepicker]="picker" formControlName="DOB" placeholder="Date Of Birth" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div>
            <label>Gender: </label>
            <mat-radio-group id="UserFormGender" formControlName="Gender" required>
              <mat-radio-button value="M">Male</mat-radio-button>
              <mat-radio-button value="F">Female</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field>
            <span matPrefix>+91 &nbsp;</span>
            <input id="UserFormMobile" matInput type="number" formControlName="Mobile" placeholder="Mobile" required>
            <mat-error *ngIf="UserForm.controls.Mobile.hasError('required')">
              Please fill out this field.
            </mat-error>
            <mat-error *ngIf="UserForm.controls.Mobile.hasError('min') || UserForm.controls.Mobile.hasError('max')">
              Invalid user mobile no.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input id="UserFormEmail" matInput type="email" formControlName="Email" placeholder="User Email" required>
          </mat-form-field>
          <mat-form-field>
            <textarea id="UserFormAddress" matInput rows="5" placeholder="User Address" formControlName="Address" required></textarea>
          </mat-form-field>
          <mat-form-field>
            <input id="UserFormDesignation" matInput type="text" formControlName="Designation" placeholder="Designation" required>
          </mat-form-field>
          <mat-form-field>
            <mat-select id="UserFormBranch" placeholder="Branch" (selectionChange)="getAllDepartmentsByID(UserForm.controls.BranchID.value)" formControlName="BranchID" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let item of allBranches" [value]="item._id">
                {{item.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select id="UserFormRole" placeholder="Role" formControlName="RoleID" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let item of allRoles" [value]="item._id">
                {{item.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="row">
            <div class="col-10">
              <mat-form-field>
                <mat-select id="UserFormDepartment" placeholder="Department" formControlName="DepartmentID" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let item of allDepartments" [value]="item._id">
                    {{item.Name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-icon id="createDepartment" (click)="createDepartment()" style="cursor: pointer;padding-top: 8px;">add</mat-icon>&nbsp;
            </div>
          </div>

        </form>
      </div>
      <div class="card-footer text-right">
        <button id="UserFormReset" type="reset" *ngIf="!showSpinner" mat-raised-button color="accent" (click)="reset()" [disabled]="userID != -1"><i class="fa fa-ban">&nbsp;</i>Reset</button>&nbsp;
        <button id="UserFormCancel" type="button" *ngIf="!showSpinner" mat-raised-button color="warn" (click)="cancel()">Cancel</button>&nbsp;
        <button id="UserFormSubmit" type="submit" *ngIf="!showSpinner" mat-raised-button color="primary" (click)="onSubmitForm()" [disabled]="UserForm.invalid"><i class="fa fa-dot-circle-o">&nbsp;</i>Submit</button>
        <mat-progress-spinner *ngIf="showSpinner"
                              [diameter]="30"
                              class="example-margin"
                              color="primary"
                              mode='indeterminate'
                              value="5">
        </mat-progress-spinner>
      </div>
    </div>
  </div>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="60000" [loadingText]="'Please wait...'" [zIndex]="9999"></ng4-loading-spinner>
</section>
