<section [@routerTransition]>
<div class="col-md-12 mb-3 mb-xl-0 text-right">
  <button mat-raised-button color="accent" (click)="exportToExcel()">Export to Excel</button>&nbsp;&nbsp;
  <button mat-raised-button color="primary" (click)="addNew(-1)"><i class="fa fa-plus">&nbsp;</i>Create New</button>
</div>
<mat-progress-spinner *ngIf="showSpinner"
                      [diameter]="30"
                      class="list-spinner"
                      color="primary"
                      mode='indeterminate'
                      value="5">
</mat-progress-spinner>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Data">
</mat-form-field>
<div class="table-client example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <div class="example-table-container">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row._id}} </td>
      </ng-container>

      <!-- UID Column -->
      <ng-container matColumnDef="UID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="width50"> UID </th>
        <td mat-cell *matCellDef="let row"> {{row.CID}} </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="width100"> Type </th>
        <td mat-cell *matCellDef="let row"> {{row.Type}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.Email}} </td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="Phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  class="width125"> Mobile No </th>
        <td mat-cell *matCellDef="let row"> {{row.Phone}} </td>
      </ng-container>

      <!-- DOB Column -->
      <ng-container matColumnDef="DOB">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  class="width150"> DOB </th>
        <td mat-cell *matCellDef="let row"> {{row.DOB ? (row.DOB | date: 'dd-MMM-yyyy'): (row.RegistrationDate | date: 'dd-MMM-yyyy')}} </td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
        <td mat-cell *matCellDef="let row"> {{row.Address ? row.Address : row.PermanentAddress}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef style="min-width:120px;">Action</th>
        <td mat-cell *matCellDef="let row">
          <a class="text-success" (click)="showFirm(row)" style="cursor:pointer;"><i class="material-icons">visibility</i></a>&nbsp;
          <a class="text-danger" (click)="deleteExisting(row._id)" style="cursor:pointer;"><i class="material-icons">delete_forever</i></a>&nbsp;
          <!--<a class="text-primary" (click)="editExisting(row._id)" style="cursor:pointer;"><i class="material-icons">edit</i></a>&nbsp;-->
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div *ngIf="dataSource && dataSource.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
  <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="60000" [loadingText]="'Please wait...'" [zIndex]="9999"></ng4-loading-spinner>
</section>
