<section [@routerTransition]>
<div class="row" id="deo_entry">
  <div class="col-sm-12 col-md-8">
    <div class="card card-accent-primary">
      <div class="card-header">
        <strong>Entry Form</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="EntryForm" id="deo_entryForm" class="form-horizontal" (keydown.enter)="onSubmitForm()">
          <mat-form-field>
            <input id="deo_entryFormName" matInput type="text" formControlName="Name" placeholder="Name" required>
          </mat-form-field>
          <mat-form-field>
            <input id="deo_entryFormPhone" matInput type="number" formControlName="Phone" placeholder="Contact No" required>
          </mat-form-field>
          <mat-form-field>
            <input id="deo_entryFormEmail" matInput type="email" formControlName="Email" placeholder="Email" required>
          </mat-form-field>
          <mat-form-field>
            <input id="deo_entryFormPurpose" matInput type="text" formControlName="Purpose" placeholder="Purpose" required>
          </mat-form-field>

            <label>Whom To Meet</label>
          <mat-form-field *ngIf="currentUser.role == 'Super Admin'">
            <mat-select id="deo_entryFormBranch" placeholder="Branch Name" formControlName="BranchID" required (selectionChange)="onBranchChange()">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let item of allBranches" [value]="item._id">
                {{item.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
              <mat-select id="deo_entryFormDepartment" placeholder="Department Name" formControlName="DepartmentID" required (selectionChange)="onDepartmentChange()">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of Departments" [value]="item._id">
                  {{item.Name}}
                </mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field>
              <mat-select id="deo_entryFormUser" placeholder="User Name" formControlName="UserID" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of Users" [value]="item._id">
                  {{item.Name}}
                </mat-option>
              </mat-select>
          </mat-form-field>

        </form>
      </div>
      <div class="card-footer text-right">
        <button id="deo_entryFormReset" type="reset" *ngIf="!showSpinner" mat-raised-button color="accent" (click)="reset()" [disabled]="entryID != -1"><i class="fa fa-ban">&nbsp;</i>Reset</button>&nbsp;
        <button id="deo_entryFormCancel" type="button" *ngIf="!showSpinner" mat-raised-button color="warn" (click)="cancel()">Cancel</button>&nbsp;
        <button id="deo_entryFormSubmit" type="submit" *ngIf="!showSpinner" mat-raised-button color="primary" (click)="onSubmitForm()" [disabled]="EntryForm.invalid"><i class="fa fa-dot-circle-o">&nbsp;</i>Submit</button>
        <mat-progress-spinner *ngIf="showSpinner"
                              [diameter]="30"
                              class="example-margin"
                              color="primary"
                              mode='indeterminate'
                              value="5">
        </mat-progress-spinner>
      </div>
    </div>
  </div>
</div>
</section>
<ng4-loading-spinner [threshold]="100" [timeout]="60000" [loadingText]="'Please wait...'" [zIndex]="9999"></ng4-loading-spinner>
