<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Work Information
        <div class="card-header-actions entryAction">
          <!--<mat-form-field class="AllEmp">-->
            <!--<mat-select placeholder="Client" [formControl]="selectedClient" (selectionChange)="onChangeClient(selectedClient.value)">-->
              <!--<mat-option value="0">All</mat-option>-->
              <!--<mat-option *ngFor="let item of allClients" [value]="item._id">-->
                <!--{{item.Name}}-->
              <!--</mat-option>-->
            <!--</mat-select>-->
          <!--</mat-form-field>-->
          <mat-form-field class="AllEmp">
            <input type="text" placeholder="Client" aria-label="Number" matInput [formControl]="selectedClient" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onChangeClient(selectedClient.value._id)" [displayWith]="displayFn">
              <mat-option [value]="{_id: '0', Name: 'All'}">All</mat-option>
              <mat-option *ngFor="let item of filteredOptions | async; let i = index" [value]="item">
                {{item.Name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="card-body">
        <div class="example-table-container">
          <table mat-table [dataSource]="dataSource" matSort class="table table-responsive-sm table-hover table-outline mb-0 activity-table">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox [disabled]="selectedClient.value === '0'" (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox [disabled]="selectedClient.value === '0'" (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <!-- Work Column -->
            <ng-container matColumnDef="Work">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee </th>
              <td mat-cell *matCellDef="let row">
                {{row.TaskID.Name}}
              </td>
            </ng-container>

            <!-- Client Column -->
            <ng-container matColumnDef="Client">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
              <td mat-cell *matCellDef="let row">
                {{row.ClientID.Name}}
              </td>
            </ng-container>

            <!-- Department Column -->
            <ng-container matColumnDef="Department">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
              <td mat-cell *matCellDef="let row">
                {{row.DepartmentID.Name}}
              </td>
            </ng-container>

            <!-- Employee Column -->
            <ng-container matColumnDef="Employee">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee </th>
              <td mat-cell *matCellDef="let row">
                {{row.EmployeeID.Name}}
              </td>
            </ng-container>

            <!-- Cost Column -->
            <ng-container matColumnDef="Cost">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
              <td mat-cell *matCellDef="let row">
                {{row.Cost | currency: 'INR'}}
              </td>
            </ng-container>

            <!-- PaidAmount Column -->
            <ng-container matColumnDef="PaidAmount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Paid Amount </th>
              <td mat-cell *matCellDef="let row">
                {{row.PaidAmount | currency: 'INR'}}
              </td>
            </ng-container>

            <!-- DueAmount Column -->
            <ng-container matColumnDef="DueAmount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Amount </th>
              <td mat-cell *matCellDef="let row">
                {{row.DueAmount | currency: 'INR'}}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div *ngIf="dataSource && dataSource.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
        <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div><!--/.col-->
</div><!--/.row-->
<br>
<div class="card" *ngIf="this.selection.selected.length !== 0">
  <br>
  <h5 class="text-muted ml-3">Selected Work Information</h5>
  <div class="col-md-12"  style="overflow-x: auto">
    <table class="table table-hover table-striped" style="border: 1px solid lightgray;">
      <thead>
      <tr style="background-color: #e4e7ea">
        <th>Work</th>
        <th>Client</th>
        <th>Department</th>
        <th>Employee</th>
        <th>PaidAmount</th>
        <th>DueAmount</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of this.selection.selected">
        <td>{{row.TaskID.Name}}</td>
        <td>{{row.ClientID.Name}}</td>
        <td>{{row.DepartmentID.Name}}</td>
        <td>{{row.EmployeeID.Name}}</td>
        <td>{{row.PaidAmount | currency: 'INR'}}</td>
        <td>{{row.DueAmount | currency: 'INR'}}</td>
        <td>{{row.Cost | currency: 'INR'}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total</td>
        <td>{{getTotalPaidAmount() | currency: 'INR'}}</td>
        <td>{{getTotalDueAmount() | currency: 'INR'}}</td>
        <td>{{getTotalCost() | currency: 'INR'}}</td>
      </tr>
      </tfoot>
    </table>
  </div>
  <div class="row m-0 p-0">
    <div class="col-md-7"></div>
    <mat-form-field class="col-md-3">
      <textarea matInput rows="1" placeholder="Special Notes" [(ngModel)]="entryForm.SpecialNotes"></textarea>
    </mat-form-field>
    <mat-form-field class="col-md-2">
      <input matInput type="text" [(ngModel)]="entryForm.Discount" placeholder="Discount" (change)="[entryForm.Amount = getTotalCost() - entryForm.Discount]">
    </mat-form-field>
    <div class="col-md-7"></div>
    <mat-form-field class="col-md-3">
      <mat-select placeholder="Payment Method" [(ngModel)]="entryForm.PaymentMethod" required (selectionChange)="[entryForm.TransactionID = '']">
        <mat-option value="Cash">Cash</mat-option>
        <mat-option value="Paytm">Paytm</mat-option>
        <mat-option value="Cheque">Cheque</mat-option>
        <mat-option value="Bank">Bank Transfer</mat-option>
        <mat-option value="Other">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-md-2">
      <input matInput type="text" disabled [(ngModel)]="entryForm.Amount" mask="[0*.00]" placeholder="Amount">
    </mat-form-field>
    <div class="col-md-7"></div>
    <mat-form-field class="col-md-3" *ngIf="entryForm.PaymentMethod == 'Paytm' || entryForm.PaymentMethod == 'Bank'">
      <input matInput type="text" [(ngModel)]="entryForm.TransactionID" placeholder="Transaction ID">
    </mat-form-field>
    <mat-form-field class="col-md-3" *ngIf="entryForm.PaymentMethod == 'Cheque'">
      <input matInput type="text" [(ngModel)]="entryForm.TransactionID" placeholder="Cheque No">
    </mat-form-field>
    <mat-form-field class="col-md-3" *ngIf="entryForm.PaymentMethod == 'Other'">
      <input matInput type="text" [(ngModel)]="entryForm.Other" placeholder="Payment method">
    </mat-form-field>
    <mat-form-field class="col-md-2" *ngIf="entryForm.PaymentMethod == 'Other'">
      <input matInput type="text" [(ngModel)]="entryForm.TransactionID" placeholder="Transaction ID">
    </mat-form-field>
    <div class="clearfix"></div>
    <div class="text-right col-md-12">
      <button mat-button mat-raised-button color="primary" class="mx-3" [disabled]="entryForm.PaymentMethod == ''" (click)="onSubmit()">Submit</button><br><br>
    </div>
  </div>
</div>
<ng4-loading-spinner [threshold]="10" [timeout]="60000" [loadingText]="'Please wait...'" [zIndex]="9999"></ng4-loading-spinner>
