<style>
  .mat-dialog-content{
    overflow: hidden;
  }
</style>
<h2 mat-dialog-title>Select Work Assignment Type</h2>
<mat-dialog-content id="manager_work" class="pt-2">
  <mat-radio-group class="example-radio-group" (change)="onRadioButtonClick(workType)" [(ngModel)]="workType">
    <mat-radio-button class="example-radio-button" value="new">New </mat-radio-button> &nbsp;
    <mat-radio-button class="example-radio-button" value="existing">Existing </mat-radio-button>
  </mat-radio-group>
</mat-dialog-content>
