<section [@routerTransition]>
<div class="row" id="manager_firm">
  <div class="col-sm-12 col-md-10">
    <mat-form-field class="offset-md-4 col-md-4">
      <mat-select id="manager_selectFirmType" placeholder="Firm Type" [formControl]="selectedFirmType" [disabled]="firmFillStatus" (selectionChange)="onChangeFirmType()" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let item of allFirmTypes" [value]="item.Name">
          {{item.Name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="selectedFirmType.hasError('required')">Please choose an firm type</mat-error>
    </mat-form-field>
      <mat-horizontal-stepper linear="isLinear" #stepper *ngIf="selectedFirmType.value">
        <mat-step [stepControl]="FirmForm"><!---->
          <ng-template matStepLabel>Firm Detail</ng-template>
          <div class="card card-accent-primary">
            <div class="card-header">
              <strong>Firm Detail</strong>
            </div>
            <div class="card-body">
              <form [formGroup]="FirmForm" id="manager_firmForm" class="form-horizontal">
                <mat-form-field>
                  <input id="manager_firmFormName" matInput type="text" formControlName="Name" placeholder="Name">
                </mat-form-field>
                <mat-form-field>
                  <input id="manager_firmFormEmail" matInput type="email" formControlName="Email" placeholder="Email ID">
                </mat-form-field>
                <mat-form-field hintLabel="10 Character PAN Number">
                  <input id="manager_firmFormPAN" matInput type="text" formControlName="PAN" placeholder="PAN" pattern="^[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}$" maxlength="10">
                </mat-form-field>
                <mat-form-field>
                  <input id="manager_firmFormTIN" matInput type="text" formControlName="TIN" placeholder="TIN">
                </mat-form-field>
                <mat-form-field>
                  <input id="manager_firmFormPhone" matInput type="number" formControlName="Phone" placeholder="Phone No">
                </mat-form-field>
                <mat-form-field>
                  <input id="manager_firmFormRegistrationDate" matInput [max]="maxDate" [matDatepicker]="RegistrationDate" formControlName="RegistrationDate" placeholder="Registration Date">
                  <mat-datepicker-toggle matSuffix [for]="RegistrationDate"></mat-datepicker-toggle>
                  <mat-datepicker #RegistrationDate></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                  <textarea id="manager_firmFormAddress" matInput rows="5" placeholder="Address" formControlName="Address" required></textarea>
                </mat-form-field>
              </form>
            </div>
          </div>
          <div class="text-right">
            <button id="manager_firmFormNextToKeyPerson" mat-button matStepperNext mat-raised-button color="primary" (click)="onChangeFirstStep()">Next</button>
          </div>
        </mat-step>
        <mat-step>
          <div class="card card-accent-primary">
            <div class="card-header">
              <strong>Key Person Detail</strong>
            </div>
            <div class="card-body">
              <form id="manager_keyPersonForm" [formGroup]="KeyPersonForm" class="form-horizontal">
                <ng-template matStepLabel>Key Person Detail</ng-template>
                <mat-form-field>
                  <mat-select formControlName="MemberType" required placeholder="MemberType">
                    <mat-option *ngIf="selectedFirmType.value == 'Proprietor'" value="Proprietor">Proprietor</mat-option>
                    <mat-option *ngIf="selectedFirmType.value == 'Pvt Ltd.' || selectedFirmType.value == 'Public Ltd.'" value="Proprietor">Director</mat-option>
                    <mat-option *ngIf="selectedFirmType.value == 'Partnership'" value="Partner">Partner</mat-option>
                    <mat-option *ngIf="selectedFirmType.value == 'LLP'" value="Managing Partner">Managing Partner</mat-option>
                    <mat-option *ngIf="selectedFirmType.value == 'Trust'" value="Trustees">Trustees</mat-option>
                    <mat-option *ngIf="selectedFirmType.value == 'Society'" value="Trustees">CEO</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <input id="manager_keyPersonFormName" matInput type="text" formControlName="Name" [placeholder]="selectedFirmType.value == 'Proprietor' ? 'Proprietor Name' : (selectedFirmType.value == 'Pvt Ltd.' ||  selectedFirmType.value == 'Public Ltd.' ? 'Director Name' : (selectedFirmType.value == 'Partnership' ? 'Partner Name' : (selectedFirmType.value == 'Trust' ? 'Trustees Name' : (selectedFirmType.value == 'LLP' ? 'Managing Partner Name' : 'CEO Name'))))">
                </mat-form-field>
                <mat-form-field>
                  <input id="manager_keyPersonFormFatherName" matInput type="text" formControlName="FatherName" placeholder="Father Name">
                </mat-form-field>
                <mat-form-field>
                  <input id="manager_keyPersonFormPhone" matInput type="number" formControlName="Phone" placeholder="Contact No">
                </mat-form-field>
                <mat-form-field>
                  <input id="manager_keyPersonFormEmail" matInput type="email" formControlName="Email" placeholder="Email">
                </mat-form-field>
                <mat-form-field hintLabel="Date format (dd/mm/yyyy)">
                  <input id="manager_keyPersonFormDOB" matInput [max]="maxDate" [matDatepicker]="DOBKeyPerson" formControlName="DOB" placeholder="DOB">
                  <mat-datepicker-toggle matSuffix [for]="DOBKeyPerson"></mat-datepicker-toggle>
                  <mat-datepicker #DOBKeyPerson></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                  <mat-select id="manager_keyPersonFormGender" placeholder="Gender" formControlName="Gender" required>
                    <mat-option>--</mat-option>
                    <mat-option value="M">Male</mat-option>
                    <mat-option value="F">Female</mat-option>
                    <mat-option value="Other">Other</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <textarea id="manager_keyPersonFormPermanentAddress" matInput rows="5" placeholder="Residential Address" formControlName="PermanentAddress" required></textarea>
                </mat-form-field>
                <mat-checkbox id="manager_keyPersonFormsameAsAddress" [disabled]="!(KeyPersonForm.controls.PermanentAddress.value)" (change)="sameAsAddress(KeyPersonForm.controls.addressSameAs.value)" color="primary" formControlName="addressSameAs">Same as Residential Address</mat-checkbox>
                <mat-form-field>
                  <textarea id="manager_keyPersonFormCorrespondingAddress" matInput rows="5" placeholder="Corporate Address" formControlName="CorrespondingAddress" required></textarea>
                </mat-form-field>
              </form>
              <div class="row manager_keyPersonAlldocumnets" *ngFor="let item of allDocuments">
                <div class="col-md-2">
                  <label class="pt-3" class="manager_keyPersonDocumnetName">{{item.Name}}<strong class="manager_keyPersonDocumnetRequired" *ngIf="item.isRequired == 'Required'" style="color: red;"><sup>*</sup></strong></label>
                </div>
                <mat-form-field  class="manager_keyPersonDocumnetValue" class="col-md-4" [hintLabel]="item.Name == 'PAN' ? '10 character PAN Number': (item.Name == 'Aadhar' ? '12 digit Aadhar number': null)">
                  <input matInput [(ngModel)]="item.value" placeholder="{{item.Name}} Number" [required]="(item.isRequired == 'Required')? 'required': null" [minlength]="item.Length" [maxlength]="item.Length" [attr.pattern]="item.Pattern">
                </mat-form-field>
                <div class="col-md-4">
                  <input type="file" class="manager_keyPersonDocumnetFile" class="form-control" (change)="onKeyPersoanFileChange($event, item.Name)">
                </div>
                <div class="col-md-2 text-right">
                  <img *ngIf="documentKeyPersonUploadedArray[item.Name]" src="../../../../assets/img/success-icon.png" width="12%">&nbsp;
                  <button class="manager_keyPersonDocumnetUpload" mat-button mat-raised-button color="primary" [disabled]="!item.value || (item.Length && item.value.length != item.Length ) || !allKeyPersonImages[item.Name] || !(item.value.match(item.Pattern))" (click)="addKeyPersonDocument(item.value, item.Name)"><i class="fa fa-plus">&nbsp;</i>upload</button>
                </div>
              </div>
              <div class="text-right">
                <button class="manager_keyPersonSubmit" class="mb-2" mat-button mat-raised-button color="primary" [disabled]="KeyPersonForm.invalid || docMandatory < 2" (click)="addKeyPerson()"><i class="fa fa-plus">&nbsp;</i>add</button>
              </div>
              <div class="table-client-entry example-container mat-elevation-z8" id="manager_keyPersonTable">
                <div class="example-loading-shade"
                     *ngIf="isLoadingResults || isRateLimitReached">
                  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                  <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                    API rate limit has been reached. It will be reset in one minute.
                  </div>
                </div>
                <div class="example-table-container">
                  <table mat-table [dataSource]="dataSourceKeyPerson" matSort>

                    <!-- Holder Column -->
                    <ng-container matColumnDef="Name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header id="manager_keyPersonTableName"> Name </th>
                      <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
                    </ng-container>

                    <!-- FatherName Column -->
                    <ng-container matColumnDef="FatherName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header id="manager_keyPersonFather"> Father Name </th>
                      <td mat-cell *matCellDef="let row"> {{row.FatherName}}
                    </ng-container>

                    <!-- DOB Column -->
                    <ng-container matColumnDef="DOB">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header id="manager_keyPersonDOB"> DOB </th>
                      <td mat-cell *matCellDef="let row"> {{row.DOB | date: 'dd-MMM-yyyy'}} </td>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="Email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header id="manager_keyPersonEmail"> Email </th>
                      <td mat-cell *matCellDef="let row"> {{row.Email}} </td>
                    </ng-container>

                    <!-- Phone Column -->
                    <ng-container matColumnDef="Phone">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header id="manager_keyPersonPhone"> Phone </th>
                      <td mat-cell *matCellDef="let row"> {{row.Phone}} </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="Action" id="manager_keyPersonDeleteAction">
                      <th mat-header-cell *matHeaderCellDef>Action</th>
                      <td mat-cell *matCellDef="let row; let i = index;">
                        <a class="text-danger" (click)="deleteKeyPerson(i)" style="cursor:pointer;"><i class="material-icons">delete_forever</i></a>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsKeyPerson"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsKeyPerson;"></tr>
                  </table>
                </div>
                <div *ngIf="dataSourceKeyPerson && dataSourceKeyPerson.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
                <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-left">
              <button id="manager_FirmBackToFirm" mat-button matStepperPrevious mat-raised-button style="background-color: black;color: white;">Back</button>
            </div>
            <div class="col-6 text-right">
              <button id="manager_FirmNextButtonWithPartnership" *ngIf="(selectedFirmType.value == 'Partnership')" mat-button matStepperNext mat-raised-button color="primary" [disabled]="(keyPersonArray.length < 2)">Next</button>
              <button id="manager_FirmNextButtonwithOutPartnership" *ngIf="!(selectedFirmType.value == 'Partnership')" mat-button matStepperNext mat-raised-button color="primary" [disabled]="(keyPersonArray.length < 1)">Next</button>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Upload Firm Document</ng-template>
          <div class="card card-accent-primary">
            <div class="card-header">
              <strong>Firm Document</strong>
            </div>
            <div class="card-body">
              <div class="row firmDocimentUpload" *ngFor="let item of companyDocument">
                <div class="col-md-2">
                  <label class="pt-3">{{item.Name}}<strong *ngIf="(item.isRequired =='Required')" style="color: red;"><sup>*</sup></strong></label>
                </div>
                <mat-form-field class="col-md-4"  [hintLabel]="item.Name == 'PAN Card' ? '10 character PAN Number': null">
                  <input matInput type="text" [(ngModel)]="item.value" placeholder="{{item.Name}} Number" [required]="(item.isRequired == 'Required')? 'required': null" [maxlength]="item.Name=='PAN Card' ? 10 : null" [attr.pattern]="item.Pattern">
                </mat-form-field>
                <div class="col-md-4">
                  <input type="file" class="form-control" (change)="onFileChange($event, item.Name, 'company')">
                </div>
                <div class="col-md-2 text-right">
                  <img *ngIf="documentCompanyUploadedArray[item.Name]" src="../../../../assets/img/success-icon.png" width="12%">&nbsp;
                  <button mat-button mat-raised-button color="primary" [disabled]="!item.value || !allCompanyImages[item.Name] || !(item.value.match(item.Pattern))" (click)="addCompanyDocument(item.value, item.Name, item.isRequired)"><i class="fa fa-plus">&nbsp;</i>upload</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-left">
              <button id="manager_FirmBackToKeyperson" mat-button matStepperPrevious mat-raised-button style="background-color: black;color: white;">Back</button>
            </div>
            <div class="col-6 text-right">
              <button id="manager_nextToFinish" mat-button matStepperNext mat-raised-button color="primary" [disabled]="(companyDocMandatoryFill != noOfRequiredCompanyDocument)">Next</button>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Success</ng-template>
          <div class="card card-accent-primary">
            <div class="card-header">
              <strong>Information</strong>
            </div>
            <div class="card-body" id="print-section" id="manager-fullFormDetails">
              <mat-list role="list">
                <h3 mat-subheader>Bacic Information</h3>
                <mat-list-item role="listitem"><strong>Name</strong>: {{FirmForm.value.Name}}</mat-list-item>
                <mat-list-item role="listitem"><strong>PAN</strong>: {{FirmForm.value.PAN}}</mat-list-item>
                <mat-list-item role="listitem"><strong>TIN</strong>: {{FirmForm.value.TIN}}</mat-list-item>
                <mat-list-item role="listitem"><strong>Mobile No</strong>: {{FirmForm.value.Phone}}</mat-list-item>
                <mat-list-item role="listitem"><strong>Registration Date</strong>: {{FirmForm.value.RegistrationDate | date: 'dd-MMM-yyyy'}}</mat-list-item>
                <mat-list-item role="listitem"><strong>Address</strong>: {{FirmForm.value.Address}}</mat-list-item>
                <h3 mat-subheader>Company Document Detail</h3>
                <table class="table">
                  <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Number</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of companyDocumentArray; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Number}}</td>
                  </tr>
                  </tbody>
                </table>
                <div *ngFor="let kp of keyPersonArray">
                  <h3 mat-subheader>Key Person "{{kp.Name}}" Documents</h3>
                  <table class="table">
                    <tbody>
                    <mat-list-item role="listitem" *ngFor="let item of kp.allDocument; let i = index">
                      <tr *ngIf="item.Image != ''">
                        <td>{{i+1}}</td>
                        <td>{{item.Name}}</td>
                        <td>{{item.Number}}</td>
                      </tr>
                    </mat-list-item>
                    </tbody>
                  </table>
                  </div>
              </mat-list>
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-left">
              <button *ngIf="!showSpinner" mat-button matStepperPrevious mat-raised-button style="background-color: black;color: white;">Back</button>
            </div>
            <div class="col-6 text-right">
              <button *ngIf="!showSpinner" id="manager_detailsPrint" mat-button matStepperNext mat-raised-button (click)="print()" color="primary" class="print-button"><i class="material-icons">print</i></button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button *ngIf="!showSpinner" id="managerFirmFormFinish" mat-button mat-raised-button color="primary" (click)="onSubmitForm()">Finish</button>
              <mat-progress-spinner *ngIf="showSpinner"
                                    [diameter]="30"
                                    class="example-margin"
                                    color="primary"
                                    mode='indeterminate'
                                    value="5">
              </mat-progress-spinner>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
  </div>
</div>
<ng4-loading-spinner [threshold]="1" [timeout]="60000" [loadingText]="'Please wait...'" [zIndex]="9999"></ng4-loading-spinner>
</section>
