.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.example-margin{
  float:right;
  margin-right:25px;
}
.list-spinner{
  margin:auto;
}
.table-client-entry{
  overflow: auto;
}
.mat-elevation-z8{
  margin-bottom: 15px;
}
.example-container > * {
  width: 100%;
}
.example-margin{
  float:right;
  margin-right:25px;
}
.list-spinner{
  margin:auto;
}
::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}
