<section [@routerTransition]>
<div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-right">
  <!--<button id="entry_CreateNewButton" mat-raised-button color="primary" (click)="addNew(-1)"><i class="fa fa-plus">&nbsp;</i>New Entry</button>-->
</div>
<mat-progress-spinner *ngIf="showSpinner"
                      [diameter]="30"
                      class="list-spinner"
                      color="primary"
                      mode='indeterminate'
                      value="5">
</mat-progress-spinner>
<mat-form-field class="example-full-width dateDeoSearch">
  <input matInput [max]="maxDate" [matDatepicker]="filterpicker" [(ngModel)]="filterValue" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="filterpicker"></mat-datepicker-toggle>
  <mat-datepicker #filterpicker></mat-datepicker>
</mat-form-field>
<button id="entry_clearFilter" type="button" class="btn btn-sm btn-warning" (click)="clear()" style="padding: 4px 20px;margin-left: 10px;">Clear</button>
<button id="entry_filter" type="button" class="btn btn-sm btn-success" (click)="filter()" style="padding: 4px 20px;margin-left: 10px;">Find</button>
<b style="padding-left:20px">{{ (filterValue == undefined) ? ("Today Date : "+ toDate(maxDate) | date : 'dd-MMM-yyyy') :  "Filter Date : "+toDate(filterValue) | date : 'dd-MMM-yyyy' }}</b>
  <button class="pull-right" mat-raised-button color="accent" (click)="exportToExcel()">Export to Excel</button>
<mat-form-field style="width:100%">
  <input id="entry_filterInputField" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search in name , email , mobile and entry time of table column.">
</mat-form-field>
<div class="table-entry example-container mat-elevation-z8" id="deo_entrylist">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>
  <div class="example-table-container" style="min-height: 80px;">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header id="entryRowID"> ID </th>
        <td mat-cell *matCellDef="let row"> {{row._id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header id="entryRowName"> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header id="entryRowEmail"> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.Email}} </td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="Phone">
        <th mat-header-cell fxFlex="100" style="width:130px;" *matHeaderCellDef mat-sort-header id="entryRowPhone"> Mobile No </th>
        <td fxFlex="100" mat-cell *matCellDef="let row"> {{row.Phone}} </td>
      </ng-container>

      <!-- ClientType Column -->
      <ng-container matColumnDef="ClientType">
        <th mat-header-cell fxFlex="100" style="width:130px;" *matHeaderCellDef mat-sort-header> Entry Type </th>
        <td fxFlex="100" mat-cell *matCellDef="let row"> {{row.ClientType}} </td>
      </ng-container>

      <!-- Purpose Column -->
      <ng-container matColumnDef="Purpose">
        <th mat-header-cell fxFlex="100" style="width:130px;" *matHeaderCellDef mat-sort-header> Purpose </th>
        <td fxFlex="100" mat-cell *matCellDef="let row"> {{row.ClientType === 'Customer' ? row.TaskID.Name : row.Purpose}} </td>
      </ng-container>

      <!-- To whom meet Column -->
      <ng-container matColumnDef="ToWhomMeet">
        <th mat-header-cell fxFlex="100" style="width:150px;" *matHeaderCellDef mat-sort-header> To Whom Meet </th>
        <td fxFlex="100" mat-cell *matCellDef="let row"> {{row.UserID.Name}} </td>
      </ng-container>

      <!-- Department Column -->
      <ng-container matColumnDef="Department">
        <th mat-header-cell fxFlex="100" style="width:130px;" *matHeaderCellDef mat-sort-header> Department </th>
        <td fxFlex="100" mat-cell *matCellDef="let row"> {{row.DepartmentID.Name}} </td>
      </ng-container>

      <!-- Modified Column -->
      <ng-container matColumnDef="Modified">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:130px;" id="entryRowEntryTime"> Entry Time </th>
        <td mat-cell *matCellDef="let row"> {{row.Modified | date:'hh:mm:ss'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" color="black"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div *ngIf="dataSource && dataSource.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
  <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
</div>
</section>
<ng4-loading-spinner [threshold]="100" [timeout]="60000" [loadingText]="'Please wait...'" [zIndex]="9999"></ng4-loading-spinner>
