.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.example-margin{
  float:right;
  margin-right:25px;
}
.list-spinner{
  margin:auto;
}

.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}
