<section *ngIf="dialogOpenFrom == 'client'">
<h2 mat-dialog-title>Search Client</h2>
<mat-dialog-content class="mat-typography p-0" id="manager_individual_clientsearch">
  <div class="col-sm-12">
    <div class="card card-accent-primary">
      <div class="card-header">
        <strong>Detail</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="SearchPerson" class="form-horizontal" (keydown.enter)="onSubmitForm()">
          <mat-form-field class="col-md-4">
            <input matInput type="text" formControlName="UID" placeholder="UID">
          </mat-form-field>
          <mat-form-field class="col-md-4">
            <input matInput type="text" formControlName="Name" placeholder="Client/Firm Name">
          </mat-form-field>
          <mat-form-field class="col-md-4">
            <input matInput type="number" formControlName="Phone" placeholder="Mobile No">
          </mat-form-field>
        </form>
      </div>
      <div class="text-right">
        <button type="button" *ngIf="!showSpinner" mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>&nbsp;
        <button class="mr-2 mb-2" *ngIf="!showSpinner" mat-raised-button color="primary" (click)="onSubmitForm()"><i class="fa fa-dot-circle-o">&nbsp;</i>Search</button>
        <mat-progress-spinner *ngIf="showSpinner"
                              [diameter]="30"
                              class="example-margin"
                              color="primary"
                              mode='indeterminate'
                              value="5">
        </mat-progress-spinner>
      </div>
    </div>
    <div class="table-user example-container mat-elevation-z8">
      <div class="example-loading-shade"
           *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
          API rate limit has been reached. It will be reset in one minute.
        </div>
      </div>

      <div class="example-table-container">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row._id}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
          </ng-container>

          <!-- Phone Column -->
          <ng-container matColumnDef="Phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile No </th>
            <td mat-cell *matCellDef="let row"> {{row.Phone}} </td>
          </ng-container>

          <!-- Address Column -->
          <ng-container matColumnDef="Address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
            <td mat-cell *matCellDef="let row"> {{row.Address ? row.Address : row.PermanentAddress}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr (click)="getRowDetail(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div *ngIf="dataSource && dataSource.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
      <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</mat-dialog-content>
</section>
<section *ngIf="dialogOpenFrom == 'checklist'">
	<h5 class="text-center">Checklist</h5>
  <div [innerHTML]="checkListHtml | safeHtml" style="height: 75vh;overflow-y: scroll;"></div>
</section>
<section *ngIf="dialogOpenFrom == 'checklist-last'" style="height: 75vh;overflow-y: scroll;">
<h5 class="text-center">SubTask Checklist</h5>
  <div *ngIf="checkListHtml.CheckList">
    <div [innerHTML]="checkListHtml.CheckList | safeHtml"></div>
  </div>
  <div *ngIf="!(checkListHtml.CheckList)">
    <div *ngFor="let item of checkListHtml.ChildTask">
      <h6>Task:- {{item.Name}}</h6>
      <div [innerHTML]="item.CheckList | safeHtml" style="border: 1px solid #dcd7d7; padding: 15px; word-wrap: break-word;"></div>
    </div>
  </div>

</section>
