<section [@routerTransition]>
<div class="row" id="holidayForm">
  <div class="col-sm-12 col-md-8">
    <div class="card card-accent-primary">
      <div class="card-header">
        <strong>Holiday Form</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="HolidayForm" class="form-horizontal" (keydown.enter)="onSubmitForm()">
          <mat-form-field>
            <input id="holidayFormName" matInput type="text" formControlName="Name" placeholder="Holiday Name" required>
          </mat-form-field>
          <mat-form-field>
            <input id="holidayDate" matInput [matDatepicker]="picker" formControlName="Date" placeholder="Date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </form>
      </div>
      <div class="card-footer text-right">
        <button id="holidayFormReset" type="reset" *ngIf="!showSpinner" mat-raised-button color="accent" (click)="reset()" [disabled]="holidayID != -1"><i class="fa fa-ban">&nbsp;</i>Reset</button>&nbsp;
        <button id="holidayFormCancel" type="button" *ngIf="!showSpinner" mat-raised-button color="warn" (click)="cancel()">Cancel</button>&nbsp;
        <button id="holidayFormSubmit" type="submit" *ngIf="!showSpinner" mat-raised-button color="primary" (click)="onSubmitForm()" [disabled]="HolidayForm.invalid"><i class="fa fa-dot-circle-o">&nbsp;</i>Submit</button>
        <mat-progress-spinner *ngIf="showSpinner"
                              [diameter]="30"
                              class="example-margin"
                              color="primary"
                              mode='indeterminate'
                              value="5">
        </mat-progress-spinner>
      </div>
    </div>
  </div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>
</section>
